{% extends 'base.html' %}

{% block content %}
  <h1 class="text-center text-decoration-underline">Order Page</h1>
  <div class="table-responsive">
  {% if lodges %}
    <table class="table table-striped table-bordere">
      <thead>
        <tr>
          <th>Room Number</th>
          <th>From Date</th>
          <th>To Date</th>
          <th>Total Days</th>
        <th>Total Price</th>
        </tr>
      </thead>
      <tbody>
        {% for lodge in lodges %}
          <tr>
            <td>{{ lodge.room_chosen.number_var }}</td>
            <td>{{ lodge.from_date }}</td>
            <td>{{ lodge.to_date }}</td>
            <td>{{ lodge.total_nights }}</td>
            <td>Total Price: ${{ lodge.total_price }}</td>

          </tr>
        {% endfor %}
      </tbody>
    </table>

    </div>
  {% else %}
  <div class="text-center">
    <img src="../static/img/logo.svg" alt="" class="footer-logo py-3 ">
      <h1 class="text-center display-2">No bookings found.</h1>
  </div>
  {% endif %}
  <div class="text-center p-2">
    <a href="{% url 'room_list'%}">
  <button class="btn btn-dark">Back To Home</button>
</a>
  </div>
{% endblock %}
