{% extends 'base.html' %}
{% block content %}
<div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
    <div class="wrapper wrapper--w960">
        <div class="card card-2">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title text-center">Get In</h2>
                <form method="POST">
                    {% csrf_token %}
                    <div class="error-message">
                        {{ form.non_field_errors }}
                    </div>
                    <div class="form-group">
                        
                        {{ form.username }}
                        <div class="error-message">
                            {{ form.username.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        
                        {{ form.password }}
                        <div class="error-message">
                            {{ form.password.errors }}
                        </div>
                    </div>
                    <div class="p-t-30">
                        <button class="btn btn--radius btn--green" type="submit">SignIn</button>
                    </div>
                </form>
                <span class="signup-signin-text">Not a member yet? <a href="{% url 'signup' %}" style="text-decoration: none;">SignUp</a></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
